.wrapperNotFound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleNotFound {
    font-size: 26px;
    color: var(--orange);
}

.imageNotFound {
    width: 100vw;
    height: 100%;
}