.container {
    display: flex;
    padding-bottom: 15px;
    overflow: hidden;
}

.replies {
    padding: 0 0 0 30px;
}

.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
}

.karmaCounterContainer, .karmaCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    padding-bottom: 20px;
}

.buttonWrapper button {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.buttonWrapper button span {
    margin-right: 5px;
}

.descriptionWrapper {
    width: 100%;
    padding: 5px;
    word-break: break-all;
}

svg.down {
    transform: rotate(180deg);
}

.border {
    height: 100%;
    border-left: 2px solid var(--grey99);
}

.body {
    padding-left: 5px;
    font-weight: 600;
}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 5px 7px 0;
    font-size: 10px;
    line-height: 12px;
}

.username {
    color: var(--orange);
    position: relative;
    z-index: 1;
  }

.publishedLabel {
    display: none;
}

.createdAt {
    padding-left: 5px;
}

.createdAt, .createdAt span {
    color: var(--grey99);
}

@media all and (min-width: 1024px) {
    .publishedLabel {
        display: inline;
    }

    .metaData {
        font-size: 14px;
        line-height: 16px;
    }
}