.modal {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    border: 1px var(--black) solid;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);;
    overflow: auto;
    z-index: 100;
}