.wrapperForm {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    z-index: 100;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    width: 100%;
    height: 89px;
    padding: 10px 20px;
    background-color: #eee;
}

.button {
    margin: 0;
    padding: 10px 30px;
    background-color: var(--orange);
    color: var(--white);
}

.author {
    color: var(--orange);
    margin-bottom: 15px;
}